@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.swiper-btn-custom {
    position: relative
}

/* .swiper-btn-custom:after {
    content: '|';
    position: absolute;
    top: 13%;
    left: 50%;
    z-index: 10;
    color: rgba(var(--pbmit-white-color-rgb), .5);
    -khtml-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
} */

.service-two-swiper-arrow:after {
    color: rgba(var(--pbmit-blackish-color-rgb), .5)
}

.service-details>.container>.row {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important
}

.pbmit-custom-heading,
.pbmit-heading-subheading {
    margin-bottom: 50px;
    position: relative;
    z-index: 1
}

.pbmit-custom-heading .pbmit-subtitle,
.pbmit-heading-subheading .pbmit-subtitle {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-style: normal;
    position: relative;
    display: inline-block;
    color: var(--pbmit-global-color)
}

.pbmit-custom-subheading .pbmit-subtitle {
    font-size: 12px
}

.pbmit-custom-heading .pbmit-subtitle:after,
.pbmit-custom-heading .pbmit-subtitle:before,
.pbmit-heading-subheading .pbmit-subtitle:after,
.pbmit-heading-subheading .pbmit-subtitle:before {
    content: '/';
    display: inline-block
}

.pbmit-heading-subheading .pbmit-title {
    font-size: 48px;
    line-height: 50px;
    letter-spacing: -2px;
    text-transform: none;
    font-style: normal;
    margin-bottom: 0
}

.pbmit-service-style-3 .pbminfotech-box-number {
    font-family: var(--pbmit-heading-typography-font-family);
    font-weight: 700;
    font-style: normal
}

.pbmit-service-style-1 .pbmit-featured-wrapper img,
.pbmit-service-style-1 .pbmit-service-image-wrapper .pbmit-service-btn {
    position: relative;
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.pbmit-service-style-1 .pbminfotech-post-item {
    border-radius: 30px;
    border: 1px solid rgba(var(--pbmit-blackish-color-rgb), .15)
}

.pbmit-service-style-1 .pbmit-featured-wrapper {
    overflow: hidden;
    border-radius: 30px
}

.pbmit-service-style-1 .pbmit-featured-wrapper img {
    width: 100%
}

.pbmit-service-style-1:hover .pbmit-featured-wrapper img {
    transform: scale(1.02)
}

.pbmit-service-style-1 .pbmit-service-image-wrapper {
    position: relative
}

.pbmit-service-style-1 .pbmit-service-image-wrapper a.pbmit-link {
    z-index: 0
}

.pbmit-service-style-1 .pbmit-service-btn-wrapper {
    position: absolute;
    right: 50px;
    bottom: -10px;
    display: table;
    text-align: center;
    z-index: 1;
    padding: 8px 8px 0 8px;
    border-radius: 50px 50px 0 0;
    background-color: var(--pbmit-white-color)
}

.pbmit-service-style-1 .pbmit-service-btn-wrapper::after,
.pbmit-service-style-1 .pbmit-service-btn-wrapper::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 10px;
    height: 40px;
    width: 20px;
    box-shadow: 0 20px 0 0 var(--pbmit-white-color)
}

.pbmit-service-style-1 .pbmit-service-btn-wrapper::before {
    right: 100%;
    border-bottom-right-radius: 20px
}

.pbmit-service-style-1 .pbmit-service-btn-wrapper::after {
    left: 100%;
    border-bottom-left-radius: 20px
}

.pbmit-service-style-1 .pbmit-service-image-wrapper .pbmit-service-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 100%;
    text-align: center;
    font-size: 24px;
    z-index: 2;
    position: relative;
    color: var(--pbmit-white-color);
    background-color: var(--pbmit-global-color)
}

.pbmit-service-style-1:hover .pbmit-service-image-wrapper .pbmit-service-btn {
    background-color: var(--pbmit-blackish-color)
}

.pbmit-service-style-1 .pbmit-content-box {
    padding: 40px 35px 30px 35px
}

.pbmit-service-style-1 .pbminfotech-box-number {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--pbmit-global-color)
}

.pbmit-service-style-1 .pbmit-service-title {
    position: relative;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-transform: capitalize;
    word-break: break-all
}

.pbmit-service-style-1 .pbmit-service-description p {
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.pbmit-service-style-1 .pbmit-service-icon {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    text-align: center;
    font-size: 45px;
    line-height: 30px;
    color: var(--pbmit-global-color);
    background-color: var(--pbmit-light-color)
}

.pbmit-service-style-1 .pbminfotech-box-number,
.pbmit-service-style-1 .pbmit-serv-cat {
    display: none
}

.pbmit-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 6
}

.pbmit-service-style-2 .pbmit-service-image-wrapper,
.pbmit-service-style-2 .pbmit-service-image-wrapper .pbmit-service-btn {
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.pbmit-service-style-2 {
    position: relative
}

.pbmit-service-style-2 .pbmit-featured-img-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 30px
}

.pbmit-service-style-2 .pbmit-featured-img-wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(var(--pbmit-blackish-color-rgb), .61) 0, rgba(var(--pbmit-blackish-color-rgb), .61) 13%, rgba(var(--pbmit-blackish-color-rgb), 0) 52%, rgba(var(--pbmit-blackish-color-rgb), 0) 100%);
    z-index: 1
}

.pbmit-service-style-2 .pbmit-service-image-wrapper img {
    border-radius: 30px;
    transition: all .4s ease-in-out;
    width: 100%
}

.pbmit-service-style-2:hover .pbmit-service-image-wrapper img {
    transform: scale(1.05)
}

.pbmit-service-style-2 .pbmit-featured-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 30px
}

.pbmit-service-style-2 .pbmit-service-btn-wrapper {
    position: absolute;
    right: 50px;
    bottom: -10px;
    display: table;
    text-align: center;
    z-index: 1;
    padding: 8px 8px 0 8px;
    border-radius: 50px 50px 0 0;
    background-color: var(--pbmit-white-color)
}

.pbmit-service-style-2 .pbmit-service-btn-wrapper::after,
.pbmit-service-style-2 .pbmit-service-btn-wrapper::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 10px;
    height: 40px;
    width: 20px;
    box-shadow: 0 20px 0 0 var(--pbmit-white-color)
}

.pbmit-service-style-2 .pbmit-service-btn-wrapper::before {
    left: -19px;
    border-bottom-right-radius: 20px
}

.pbmit-service-style-2 .pbmit-service-btn-wrapper::after {
    right: -19px;
    border-bottom-left-radius: 20px
}

.pbmit-service-style-2 .pbmit-service-image-wrapper .pbmit-service-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 100%;
    text-align: center;
    font-size: 24px;
    z-index: 2;
    position: relative;
    color: var(--pbmit-white-color);
    background-color: var(--pbmit-blackish-color)
}

.pbmit-service-style-2:hover .pbmit-service-image-wrapper .pbmit-service-btn {
    background-color: var(--pbmit-global-color)
}

.pbmit-service-style-2 .pbminfotech-box-content {
    position: relative
}

.pbmit-service-style-2 .pbmit-content-box {
    position: absolute;
    bottom: 30px;
    left: 40px;
    z-index: 6;
    width: calc(100% - 35%)
}

.pbmit-service-style-2 .pbminfotech-box-number {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--pbmit-global-color)
}

.pbmit-service-style-2 .pbmit-service-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0
}

.pbmit-service-style-2 .pbmit-service-title,
.pbmit-service-style-2 .pbmit-service-title a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-transform: capitalize
}

.pbmit-service-style-2 .pbmit-service-title a {
    color: var(--pbmit-white-color)
}

.pbmit-service-style-2 .pbmit-service-title a:hover {
    color: var(--pbmit-global-color)
}

.pbmit-service-style-2 .pbmit-serv-cat a {
    color: var(--pbmit-white-color)
}

.pbmit-service-style-2 .pbmit-serv-cat a:hover {
    color: var(--pbmit-global-color)
}

.pbmit-service-style-2 .pbmit-service-icon img {
    max-width: 50px;
    height: 50px
}

.pbmit-service-style-2 .pbmit-service-icon {
    position: absolute;
    top: 35px;
    left: 35px;
    z-index: 2;
    font-size: 50px;
    line-height: 50px;
    color: var(--pbmit-global-color)
}

.pbmit-service-style-2 .pbmit-service-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    color: var(--pbmit-white-color)
}

.pbmit-service-style-2 .pbminfotech-box-number,
.pbmit-service-style-2 .pbmit-serv-cat,
.pbmit-service-style-2 .pbmit-service-description,
.pbmit-service-style-2 .pbmit-service-icon {
    display: none
}

.pbmit-service-style-3 .pbmit-service-image-wrapper {
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.pbmit-service-style-3,
.pbmit-service-style-3 .pbminfotech-post-item {
    position: relative
}

.pbmit-service-style-3 {
    margin: 0 !important
}

.pbmit-service-style-3 .pbminfotech-post-item {
    padding: 40px 0;
    border-top: 1px solid rgba(var(--pbmit-secondary-color-rgb), .15)
}

.pbmit-service-style-3 .pbmit-box-content-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.pbmit-service-style-3 .pbmit-service-wrap {
    display: flex;
    align-items: center;
    width: 50%
}

.pbmit-service-style-3 .pbmit-service-image-wrapper {
    width: 28%;
    position: relative
}

.pbmit-service-style-3 .pbmit-service-icon {
    font-size: 50px;
    line-height: 50px;
    color: var(--pbmit-global-color)
}

.pbmit-service-style-3 .pbminfotech-box-number {
    font-size: 70px;
    line-height: 70px;
    font-weight: 800;
    color: transparent;
    position: relative;
    overflow: visible !important;
    text-shadow: 1px 1px 0 var(--pbmit-blackish-color), -1px -1px 0 var(--pbmit-blackish-color), 1px -1px 0 var(--pbmit-blackish-color), -1px 1px 0 var(--pbmit-blackish-color), 1px 1px 0 var(--pbmit-blackish-color);
    color: var(--pbmit-white-color);
    -webkit-text-fill-color: inherit;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: rgba(var(--pbmit-blackish-color-rgb), .3);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.pbmit-service-style-3:hover .pbminfotech-box-number {
    text-shadow: 1px 1px 0 var(--pbmit-global-color), -1px -1px 0 var(--pbmit-global-color), 1px -1px 0 var(--pbmit-global-color), -1px 1px 0 var(--pbmit-global-color), 1px 1px 0 var(--pbmit-global-color)
}

.pbmit-service-style-3 .pbminfotech-box-number::after {
    content: '/';
    display: inline-block;
    font-family: sora;
    font-size: 55px
}

.pbmit-service-style-3 .pbmit-service-title-wrap {
    padding-left: 20px
}

.pbmit-service-style-3 .pbmit-service-title {
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 0
}

.pbmit-service-style-3 .pbmit-service-title,
.pbmit-service-style-3 .pbmit-service-title a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-transform: capitalize
}

.pbmit-service-style-3:hover .pbmit-service-title a {
    color: var(--pbmit-global-color)
}

.pbmit-service-style-3 .pbmit-serv-cat,
.pbmit-service-style-3 .pbmit-service-icon {
    display: none
}

.pbmit-service-style-3 .pbmit-service-description p {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.pbmit-service-style-3 .pbmit-featured-img-wrapper {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
    position: absolute;
    transform: scale(0);
    top: -100px;
    right: 5%;
    z-index: 10;
    width: 315px;
    height: 315px
}

.pbmit-service-style-3 .pbmit-featured-img-wrapper,
.pbmit-service-style-3 .pbmit-featured-wrapper img {
    border-radius: 30px
}

.pbmit-service-style-3:hover .pbmit-featured-img-wrapper {
    opacity: 1;
    visibility: visible;
    transform: scale(1)
}

.pbmit-service-style-3 .pbmit-service-btn-wrapper .pbmit-service-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 100%;
    text-align: center;
    font-size: 24px;
    z-index: 2;
    position: relative;
    color: var(--pbmit-white-color);
    background-color: var(--pbmit-blackish-color)
}

.pbmit-service-style-3:hover .pbmit-service-btn-wrapper .pbmit-service-btn {
    background-color: var(--pbmit-global-color)
}

@keyframes anime {
    0% {
        transform-origin: left;
        transform: scaleX(0)
    }

    50% {
        transform-origin: left;
        transform: scaleX(1)
    }

    51% {
        transform-origin: right
    }

    100% {
        transform-origin: right;
        transform: scaleX(0)
    }
}

.pbmit-slider-two .pbmit-slider-item {
    padding: 280px 0 200px 0;
    background-color: rgba(0, 24, 55, .4)
}

@keyframes anime1 {
    0% {
        transform-origin: top;
        transform: scaleY(0)
    }

    50% {
        transform-origin: top;
        transform: scaleY(1)
    }

    51% {
        transform-origin: bottom
    }

    100% {
        transform-origin: bottom;
        transform: scaleY(0)
    }
}

.pbmit-slider-two .pbmit-slider-content .pbmit-title {
    font-size: 140px;
    line-height: 140px;
    margin-bottom: 0;
    text-transform: uppercase
}

.pbmit-animation-style1,
.pbmit-animation-style2 {
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform
}

.pbmit-animation-style1 img,
.pbmit-animation-style2 img {
    transform-origin: 50% 50%;
    transition: 2s cubic-bezier(.5, .5, 0, 1)
}

.pbmit-serv-cat a {
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--pbmit-body-typography-color)
}

@keyframes pbmit-faded {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@supports (mix-blend-mode:exclusion) {

    .pbmit-cursor.-exclusion,
    .pbmit-cursor.-opaque {
        mix-blend-mode: exclusion
    }
}

@supports (mix-blend-mode:exclusion) {

    .pbmit-cursor.-exclusion:before,
    .pbmit-cursor.-opaque:before {
        background: #fff
    }
}

.pbmit-featured-img-wrapper {
    margin-bottom: 15px;
    ;
}